Source: ros-melodic-apriltag
Section: misc
Priority: extra
Maintainer: Max Krogius <mkrogius@umich.edu>
Build-Depends: debhelper (>= 9.0.0), cmake
Homepage: https://april.eecs.umich.edu/software/apriltag.html
Standards-Version: 3.9.2

Package: ros-melodic-apriltag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: AprilTag detector library
