Source: ros-rolling-apriltag
Section: misc
Priority: optional
Maintainer: Max Krogius <mkrogius@umich.edu>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-rolling-ros-workspace
Homepage: https://april.eecs.umich.edu/software/apriltag.html
Standards-Version: 3.9.2

Package: ros-rolling-apriltag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-workspace
Description: AprilTag detector library
